*{
	padding: 9px;
	margin: 0px;
	font-size: 21px;
	font-family: sans-serif;
}
.heading{
	font-weight: bold;
	font-family: Arial black;
	font-size: 40px;
	color: rosybrown;
}
.textboxform label{
	color: red;
	font-weight: bolder;
}
.textboxform button{
	color: blue;
	background-color: lightsalmon;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
}